.home__item {
    display: flex;
    justify-content: center;
}

.home__item--body {
    position: absolute;
    left: 1rem;
    top: 0;
    text-align: left;
    margin-left: 3.75rem;
    height: 700px;
}

.home__item--body h2 {
    font-size: 3.125rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: -1rem;
    color: var(--color-secondary);
}

.home__item--body p {
    display: none;
}

.home__img {
    width: 100%;
}

.prev,
.next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: 0;
    background: 0 0;
    z-index: 1;
}

@media (min-width: 576px) {
    .home__item--body {
        top: 10%;
    }
    .home__item--body p {
        display: block;
        width: 400px;
        margin-bottom: .5rem;
    }
}

@media (min-width: 768px) {
    .home__item--body {
        left: 3rem;
    }
    .home__item--body p {
        width: 580px;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
}

@media (min-width: 992px) {
    .home__item--body {
        left: 5%;
        top: 20%;
    }
    .home__item--body h2 {
        font-size: 5.125rem;
    }
}

@media (min-width: 1200px) {
    .home__item--body {
    }
    .home__item--body h2 {
        font-size: 8.125rem;
        margin-bottom: -2rem;
    }
}

@media (min-width: 1400px) {

}