.home__item {
    display: flex;
    justify-content: center;
}

.home__item--body {
    position: absolute;
    left: 1rem;
    top: 0;
    text-align: left;
    margin-left: 3.75rem;
    height: 700px;
}

.home__item--body h2 {
    font-size: 3.125rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: -1rem;
    color: var(--color-secondary);
}

.home__item--body p {
    display: none;
}

.home__img {
    width: 100%;
}

.home__swiper .swiper-button-next::after {
    margin-right: 1.25rem;
}

.home__swiper .swiper-button-prev::after {
    margin-left: 1.25rem;
}

.home__swiper .swiper-button-next::after,
.home__swiper .swiper-button-prev::after {
    color: var(--color-secondary);
    font-size: 1.875rem;
    font-weight: 600;
}

.home__swiper .swiper-pagination .swiper-pagination-bullet-active,
.home__swiper .swiper-pagination .swiper-pagination-bullet {
    background-color: var(--color-secondary);
}

@media (min-width: 576px) {
    .home__item--body {
        top: 10%;
    }
    .home__item--body p {
        display: block;
        width: 400px;
        margin-bottom: .5rem;
    }
}

@media (min-width: 768px) {
    .home__item--body {
        left: 3rem;
    }
    .home__item--body p {
        width: 580px;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
}

@media (min-width: 992px) {
    .home__item--body {
        left: 5%;
        top: 20%;
    }
    .home__item--body h2 {
        font-size: 5.125rem;
    }
}

@media (min-width: 1200px) {
    .home__item--body h2 {
        font-size: 8.125rem;
        margin-bottom: -2rem;
    }
}

@media (min-width: 1400px) {

}