footer {
    background-color: var(--color-secondary);
    color: var(--color-dark-variant);
    font-size: var(--size-14);
}

.footer__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--second-color);
    padding: 2.563rem 2.25rem .75rem 2.25rem;
}

.footer__links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2.563rem;
}

.footer__links .nav__item {
    font-size: var(--size-14);
    padding: 0 1.25rem;
    margin: .4rem 0;
    border-right: 1px solid var(--color-dark);
}

.footer__top .nav__item:last-child {
    border: none;
}

.footer__contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.563rem;
}

.footer__contact p,
.footer__contact a {
    font-size: var(--size-14);
    padding: .5rem 0;
}

.footer__social-media {
    margin-bottom: 1.563rem;
    line-height: 3.125rem;
}

.footer__social-media svg {
    margin: 0 1.875rem;
    fill: var(--color-light);
    transition: .5s;
    width: 21px;
}

.footer__social-media svg:hover {
    fill: var(--color-primary);
}

.footer__language {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.563rem;
    font-size: var(--size-12);
}

.language__active {
    color: var(--color-light) !important;
    cursor: default;
}

.footer__language a {
    padding: 0 10px;
    border-right: 1px solid var(--color-dark);
    color: var(--color-dark-variant);
    text-transform: uppercase;
}

.footer__language a:hover {
    color: var(--color-primary);
}

.footer__language a:last-of-type {
    border: none;
}

.language__select {
    width: 60px;
}

.select {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid var(--color-dark-variant-2);
    padding: 8px 0;
    font-size: var(--size-12);
    color: var(--color-light);
    cursor: pointer;
    user-select: none;
}

.select__icon {
    font-size: var(--size-12);
}

.select__content {
    background: var(--color-light);
    color: var(--color-font);
    text-transform: uppercase;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 60px;
}

.select__item {
    padding: 5px 0;
    transition: .5s;
    cursor: pointer;
}

.select__item:hover {
    background-color: var(--color-primary);
}

.footer__description {
    font-size: var(--size-13);
    margin-bottom: 2.563rem;
}

.footer__bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--color-light);
    height: 5rem;
    flex-wrap: wrap;
    padding: 0.938rem 0;
    width: 100%;
}

.footer__bottom a {
    margin: 0 1rem;
}

@media (min-width: 576px) {

    .footer__links,
    .footer__contact,
    .footer__social-media,
    .footer__language,
    .footer__description {
        width: 546px;
    }
}

@media (min-width: 768px) {
    .footer__contact {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .footer__contact p {
        border-right: 1px solid var(--color-dark);
        padding: 0 1.25rem;
    }

    .footer__contact p:last-child {
        border: none;
        padding-right: 0;
    }

    .footer__links,
    .footer__contact,
    .footer__social-media,
    .footer__language,
    .footer__description {
        width: 738px;
    }
}

@media (min-width: 992px) {

    .footer__links,
    .footer__contact,
    .footer__social-media,
    .footer__language,
    .footer__description {
        width: 962px;
    }
}

@media (min-width: 1200px) {

    .footer__links,
    .footer__contact,
    .footer__social-media,
    .footer__language,
    .footer__description {
        width: 1170px;
    }
}

@media (min-width: 1400px) {}